{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a class="ml-1 mr-1" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}
 
  {% assign start=paginator.page | minus: 1 | divided_by: 10 | times: 10 | plus: 1 %}
  {% assign end=start | plus: 9 %}
  
  {% if paginator.total_pages < end %}
    {% assign end=paginator.total_pages %}
  {% endif %}

  {% for page in (start..end) %}
    {% if page == paginator.page %}
      <span class="ml-1 mr-1">{{ page }}</span>        
    {% else %}
      {% if page == 1 %}
        <a class="ml-1 mr-1" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: '/page:num', '' }}">{{ page }}</a>
      {% else %}
        <a class="ml-1 mr-1" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a class="ml-1 mr-1" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}