<script src="{{site.baseurl}}/assets/js/lunr.js" charset="utf-8"></script>


<style>
    .lunrsearchresult .title {color: #000000;}
    .lunrsearchresult .url {display: none; color: silver;}
    .lunrsearchresult a {display: block; color: #777;}
    .lunrsearchresult a:hover, .lunrsearchresult a:focus {text-decoration: none;}
    .lunrsearchresult a:hover .title {text-decoration: underline;}
    .lunrsearchresult a {font-family: -apple-system, "Pretendard Variable", Pretendard, Roboto, system-ui, "Helvetica Neue", Arial, sans-serif}
</style>


<form class="bd-search" onSubmit="return lunr_search(document.getElementById('lunrsearch').value);">
    <input type="text" class="form-control text-small launch-modal-search" id="lunrsearch" name="q" maxlength="255" value="" placeholder="Type and Enter..."/>
</form>

<div id="lunrsearchresults">
    <ul></ul>
</div>

<script src="{{site.baseurl}}/assets/js/lunrsearchengine.js" charset="utf-8"></script>